body {
  background-image: url("../images/IMG_1764.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto 10% 50% 10% auto;
  grid-template-rows: auto auto;
  grid-row-gap: 15px;
  grid-column-gap: 15px;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
} */

/* NAVBAR */
.appHeader {
  align-items: center;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 5px;
}

#navbarContainer {
  background-color: rgba(255, 255, 255, 50%);
}

#navbarHeader {
  color: black;
}

#navbarItemlist {
  margin-left: 10%;
}
/* PAGES */
#pagesContainer {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 2;
}

.pageContainer {
  background-color: rgba(255, 255, 255, 50%);
  padding: 5%;
}

@media screen and (max-width: 1000px) {
  body {
    background-position: 43% 0;
  }
  .App {
    grid-template-columns: auto 90% auto;
    grid-row-gap: 15px;
    grid-column-gap: 15px;
  }
  .appHeader {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #pagesContainer {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #navbarItemlist {
    margin-left: 0;
  }
}
